.proje {
    background: rgb(222, 222, 222);
    padding: 2px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.box-pro {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    min-height: 100%;
    background: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.btn {
    background: #f5f5f5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

}


@media screen and (max-width: 1017px) {
    .box-pro {
        grid-template-columns: 1fr 1fr;


    }

}


@media screen and (max-width:600px) {
    .box-pro {
        grid-template-columns: 1fr;

    }



}