.skills {
    display: grid;

}

@media screen and (min-width: 1536px) {
    .skills {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media screen and (min-width: 1280px) {
    .skills {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media screen and (min-width: 1024px) {
    .skills {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media screen and (min-width: 600px) {
    .skills {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media screen and (max-width: 600px) {
    .skills {
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (max-width: 330px) {
    .skills {
        grid-template-columns: 1fr;
    }

}